<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather | About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait mr-2" src="/img/abdul.jpg" alt="Author">
    <p class="mr-2">
      Iam a passionate and result oriented Front-end Developer and an IT specialist working for clients across multiple domains. I have
      over 10 years of experience in developing Web Applications using HTML (4/5), CSS (2/3), JavaScript, Typescript, Angular (1.x/8),
      React, Node.js, jQuery, AJAX, XML, Bootstrap, JSON, Java/J2EE for Financial, E-business and Banking domain projects.<br />
      I hold a bachelors degree in Computer Science from Pune University, India.<br />
      As a person, I have an open, problem-solving and detail-oriented mindset, doing my best to complete tasks flawlessly. On the other
      hand I am calm and peaceful which has helped me a lot in different aspects of my personal and professional life. I'm passionate
      about improving in my field and learning new things.
    </p>
  </div>

  {{>footer}}
</body>

</html>