<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather | Home</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}

    <h3>Use this site to know your weather!</h3>

    <form class="mr-2">
      <input type="text" name="location" id="location" placeholder="Search a location...">
      <button type="submit">Search</button>
    </form>

    <p class="mr-2" id="msg"></p>

    <div class="mr-2" id="forecast-content"></div>

  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>